body {
  background-color: white;
}

h2 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 140%;
}

.side {
  float: left;
}

#buffer {
  float: right;
} 

.post {
  padding: 10px;
  margin-left: 50px;
  float: left;
  background-color: white;
  width: 700px;
  
}

.author, .body {
  font-size: 100%;
  margin-bottom: 5px;
}

.author {
  color: gray;
  font-style: italic;
}

.body {
}


