body {
  background-color: #A2A9AF;
}
h2 {
  font-family: 'Georgia';
  font-weight: normal;
  font-size: 120%;
}

h2, .author, .body {
   padding: 5px;
   margin-bottom: 5px;
}
#top {
  position: relative;
}

#overlay {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.bg {
  width: 100%;
  height: 100%;
}

#about {
  position: absolute; 
  margin: auto;
  top: 110px;
  left: 300px;
  font-family: 'Courier New';
  font-weight: bold;
  color: gray;
  font-size: 200%;
  z-index: 2;
}

#transition {
  position: relative;
}

#posts-container {
  position: relative;
  z-index: 2;
}

.entry {
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  background-color: white;
  width: 300px;
  height: 300px;
}

.author {
  color: gray;
  font-style: italic;
  font-size: 70%;
  font-family: 'Georgia';
}

.body {
  font-family: 'Trebuchet MS';
  font-size: 80%;
}

a {
  position: relative;
  z-index: 2;
}

a:link, a:visited {
  color: #6699CC;
  text-decoration: none;
}





