body {
  background-color: #A2A9AF !important;
  padding: 0;
  width: 100%;
}


h2 {
  font-family: 'Georgia';
  font-weight: normal;
  font-size: 120%;
}

h2, .author, .body {
   padding: 5px;
   margin-bottom: 5px;
}

#top {
  position: relative;
}

#overlay {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg {
  width: 100%;
  height: 100%;
}

#about {
  position: absolute; 
  margin: 0 auto;
  top: 70%;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Courier New';
  font-weight: bold;
  color: #E7E4E4;
  font-size: 200%;
  z-index: 3;
}

#transition {
  position: relative;
}

#posts-container {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  display: table;
  top: 100%;
  width: 100%;
  text-align: center;
}

.entry {
  overflow: hidden;
  display: inline-block;
  text-align:justify;
  background-color: white;
  height: 260px;
  width: 270px;
}

.whole {
    display: inline-block;
    margin: 10px 5px 0px 5px;
    width: 280px;
    height: 270px;
    background-color: white;
}

#posts-container:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.author {
  color: gray;
  font-style: italic;
  font-size: 70%;
  font-family: 'Georgia';
}

.body {
  font-family: 'Trebuchet MS';
  font-size: 80%;
}

a.idlink:link, a.idlink:visited {
  color: #6699CC;
}

a:hover, a.idlink:hover, a.mlink:hover {
  color: #C3E4ED;
  text-decoration: none;
}

a.mlink:link, a.mlink:visited {
  color: gray;
}

.tm {
  font-family: "Georgia";
  font-size: 70%;
  color: gray;
  font-style: italic;
  margin-left: 10px;
  float: left;
}


.del {
  font-size: 80%;
  font-style: italic;
  right: 5px;
  float: right;
}

.bttab {
  position: relative;
  bottom: 10px;
  overflow: hidden;
  text-align: center;
}

