.side {
  float: left;
}

.sidebar {
  height: 100%;
}

#buffer {
  float: left;
  padding: 20px;
} 

form {
  position: relative;
  margin-top: 30px;
}

body {
  font-family: "Trebuchet MS";
  font-size: 80%;
  font-weight: bold;
}

#entry {
  float: left;
}

#post { 
  margin-top: 60px;
  padding-top: 20px;
}

.tab {
    font-family: "Georgia";
    font-weight: normal;
    font-size: 120%;
}

a:link, a:visited {
  color: #6699CC;
}
