#side {
  float: left;
}

#sidebar {
  height: 100%;
}

#buffer {
  float: left;
  padding: 20px;
} 

#entry {
  font-family: "Trebuchet MS";
  font-size: 80%;
  font-weight: bold;
  float: left;
}

#post { 
  margin-top: 60px;
  padding-top: 20px;
}

a:link, a:visited {
  color: #6699CC;
}
